

.Home-title{
  margin : 32px 0;
  line-height : 1.5;
}

.txt-main_col{
  color : var(--main_col);
}

.Home-servLink_wrap{
  display : flex;
  justify-content : space-between;
}

.Home-servLink_box{
  width : calc( ( 100% / 2 ) - 8px );
  aspect-ratio : 1 / .92;
  border-radius : 10px;
  overflow : hidden;
  background-color : var(--box-col_01);
}

.Home-servLink_box:nth-child(1) {
  background-color : var(--main_col);
}

.Home-box_link{
  display : flex;
  height : 100%;
  padding : 16px;
  flex-direction : column;
  justify-content: space-between;

}

.Home-link_title{
  font-size : 1rem;
  color : #fff;
  font-weight : bold;
}

.Home-link_txt{
  font-size : 0.875rem;
}

.Home-link-icon{
  display : block;
  width : 100%;
  font-size : 100px;
  text-align: center;
  color : #fff;
}

.portfolio_text{
  
}